/* css reset */
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2, h3 {
    text-wrap: balance;
    color: var(--heading);
}
p {
    text-wrap: pretty;
}

html {
    scroll-behavior: smooth;
}

:root {
    --transition-time: .3s;
    --primary-color: black;
    --secondary-color: beige;
    --heading: #78664f;
    --text: var(--primary-color);
    --refs: var(--secondary-color);
    --cursor-color: var(--secondary-color);
    --card-background: #cf770444;
}
:root[data-theme="dark"] {
    --primary-color: beige;
    --secondary-color: black;
    --heading: #d19b54;
    --cursor-color: var(--primary-color);
}

/* 
Computers media query
*/
@media (min-width: 1025px) {
    .cursor {
        z-index: 999;
        position: absolute;
        background-color: transparent; /* Hacemos el fondo transparente */
        width: var(--cursor-values);
        height: var(--cursor-values);
        border: var(--cursor-border); /* Ajustamos el color del borde */
        border-radius: 50%;
        transform: translate(-50%, -50%); /* Ajuste para centrar el cursor */
        pointer-events: none; /* Evita que el cursor intercepte eventos de ratón */
        transition: top 0.2s ease-out, left 0.2s ease-out, width 0.2s ease-out, height 0.2s ease-out; /* Transiciones para un efecto más suave */
    }
    
    .hover-effect:hover  {
        width: var(--hover-effects);
        height: var(--hover-effects);
    }
    
    .hover-effect {
        cursor: pointer;
    }
    
    .cursor.clicked {
        background-color: var(--color-cursor-clicked);
        border: lightgray;
    }
        :root{
        --body-size: 60vw;
        --cursor-border: 2px solid #d2b48c;
        --color-cursor-clicked: lightgrey;
        --cursor-values: 2rem;
        --hover-effects: 3rem;
        --header-size: 100vh;
        --header-gap: 100px; 
        --width-header: 250px;
        --margin-left-profile-picture: 0;
        --redes-sociales-gap: 6rem;        --border-header: 6px;
        --header-font-size: 3rem;
        --redes-sociales-dimensions: 50px;
        --redes-sociales-left: -60px;
        --redes-sociales-top: 7vh;
        --redes-sociales-left-svg: 40px;
        --a-margin-bottom: 30px;
        --a-padding-border: 10px;
        --section-ul-gap: var(--a-padding-border);
        --section-cv: var(--a-padding-border);
        --section-padding: 50px;
        --section-margin: var(--section-padding);
        --section-cv-margin-article: var(--section-padding);
        --section-p-margin: 10px 0 30px;
        --section-p-width: 90%;
        --section-gap: 40px;
        --section-cv-card-width: 100%;
        --section-cv-card-gap: 20px;
        --section-cv-card-box-shadow: 10px 10px 0px var(--primary-color);
        --section-cv-card-border: 3px solid var(--primary-color);
        --section-cv-card-img-width: 300px;
        --section-cv-card-img-border-radius: 10px;
        --section-cv-card-img-freecodecamp-width: 28rem;
    }
}

/* 
iPad media query
*/
@media (max-width: 1024px) and (min-width: 1000px) {
    .cursor {
        display: none;
    }
    :root{
        /* 
        Cursor
        */
        --body-size: 60vw;
        --cursor-border: none;
        --color-cursor-clicked: transparent;
        --cursor-values: 0;
        --hover-effects: 0;
        --header-size: 100vh;
        /* 
        Body & Header
        */
        --body-size: 60vw;
        --header-size: 100vh;
        --header-gap: 100px; 
        --width-header: 350px;
        --border-header: 6px;
        --header-font-size: 3rem;
        --margin-left-profile-picture: 0;
        /* 
        Social media
        */
        --redes-sociales-gap: 6rem;
        --redes-sociales-dimensions: 50px;
        --redes-sociales-left: -60px;
        --redes-sociales-top: 20vh;
        --redes-sociales-left-svg: 40px;
        --a-margin-bottom: 30px;
        --a-padding-border: 10px;
        --section-ul-gap: var(--a-padding-border);
        --section-cv: var(--a-padding-border);
        --section-padding: 50px;
        --section-margin: var(--section-padding);
        --section-cv-margin-article: var(--section-padding);
        --section-p-margin: 10px 0 30px;
        --section-p-width: 90%;
        --section-gap: 40px;
        --section-cv-card-width: 100%;
        --section-cv-card-gap: 20px;
        --section-cv-card-box-shadow: 10px 10px 0px var(--primary-color);
        --section-cv-card-border: 3px solid var(--primary-color);
        --section-cv-card-img-width: 300px;
        --section-cv-card-img-border-radius: 10px;
        --section-cv-card-img-freecodecamp-width: 300px;
        .fce-img{
            margin-bottom: -25rem;
        }
    }
}

/* 
Cellphone media query
*/
@media (max-width: 999px) and (min-width: 0px) {
    :root{
        /* 
        Cursor
        */
        --cursor-color: transparent;
        --cursor-border: transparent;
        --color-cursor-clicked: none;
        --cursor-values: 0;
        --hover-effects: 0;
        /* 
        Body & Header
        */
        --body-size: 100vh;
        --header-size: 5vh;
        --header-gap: 10px; 
        --width-header: 20vh;
        --border-header: 6px;
        --header-font-size: 3rem;
        --margin-left-profile-picture:80px;
        /* 
        Social media
        */
        --redes-sociales-gap: 1.5rem;
        --redes-sociales-dimensions: 50px;
        --redes-sociales-left: 100vh;
        --redes-sociales-top: 20vh;
        --redes-sociales-left-svg: 40px;
        /* 
        Link buttons
        */
        --a-margin-bottom: 30px;
        --a-padding-border: 10px;
        /* 
        Unsigned list
        */
        --section-ul-gap: var(--a-padding-border);
        /* 
        CV section
        */
        --section-cv: var(--a-padding-border);
        --section-padding: 50px;
        --section-margin: var(--section-padding);
        --section-cv-margin-article: var(--section-padding);
        --section-p-margin: 10px 0 30px;
        --section-p-width: 90%;
        --section-gap: 40px;
        /* 
        CV Card
        */
        --section-cv-card-width: 95%;
        --section-cv-card-gap: 20px;
        --section-cv-card-box-shadow: 10px 10px 0px var(--primary-color);
        --section-cv-card-border: 3px solid var(--primary-color);
        --section-cv-card-img-width: 3px;
        --section-cv-card-img-border-radius: 10px;
        --section-cv-card-img-freecodecamp-width: 200px;
        overflow: scroll; 
        margin-left: 2rem;

        .fce-img {
            width: 180px;
            height: 180px;
            margin: 48vh -10vh 0 2vh;
            justify-content: center;
        }
        .text-fce {
            margin-left: -23vh;
        }
        .freecodecamp-img {
            margin: 20vh -20vh 0 0;
        }
        .freecodecamp-txt {
            margin-left: -15vh;
            margin-right: 20vh;
        }
    }
}

body {
    background-color: var(--secondary-color);
    width: var(--body-size);
    margin: 0 auto;
    color: var(--text);

    transition: background-color var(--transition-time), color var(--transition-time);
}

*::selection {
    background-color: var(--primary-color);
    color: var(--text);
}

.profile-picture {
    margin-left: var(--margin-left-profile-picture);
}	

header {
    height: var(--header-size);
    display: flex;
    flex-direction: column;
    gap: var(--header-gap);
    justify-content: center;
    align-items: center;
}

header div {
    display: flex;
    justify-content: center;
    gap: var(--header-gap);
}

header div img {
    border-radius: 50%;
    width: var(--width-header);
    border: var(--border-header) solid var(--primary-color);
    transition: transform .3s;
}
header div img:hover {
    transform: scale(1.1);
}

header div h1 {
    font-size: var(--header-font-size);
    font-weight: bold;
    margin: auto;
    color: var(--primary-color);
}

.redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    gap: var(--redes-sociales-gap);
    transition-duration: .6s;
    transition-property: gap;
    transition-timing-function: ease-in;
}
.redes-sociales svg {
    color: var(--text);
    opacity: 0.3;
    gap: var(--redes-sociales-gap);
    width: var(--redes-sociales-dimensions);
    height: var(--redes-sociales-dimensions);
    transition-property: opacity;
    transition-duration: .3s;
}
.redes-sociales svg:hover{
    opacity: 1;
}

.redes-sociales button {
    background-color: transparent;
    border: none;
}

.redes-sociales.left {
    position: fixed;
    left: var(--redes-sociales-left);
    top: var(--redes-sociales-top);
    flex-direction: column;
    transform: translateX(140px);

    transition: transform .5s ease-in;
}

.redes-sociales.left svg {
    width: var(--redes-sociales-left-svg);
}

.scroll-up .redes-sociales.left {
    left: var(--redes-sociales-left); /* Adjust as needed */
}

a.ref {
    margin-bottom: var(--a-margin-bottom);
    display: block;
    background-color: var(--primary-color);
    color: var(--refs);
    padding: var(--a-padding-border);
    border-radius: var(--a-padding-border);
    width: fit-content;
    text-decoration: none;
}

.list{
    margin: 3vh;
}

section {
    padding: var(--section-padding) 0;
}

section p {
    margin: var(--section-p-margin);
    width: var(--section-p-width);
}

section ul {
    margin-left: var(--section-ul-margin-left);
    gap: var(--section-ul-gap);
}

section#aboutme ul {
    list-style: none;
}

section#CV h3, ul li {
    margin-bottom: var(--section-cv);
}

section#CV article {
    margin-bottom: var(--section-margin);
    display: flex;
    gap: var(--section-gap);
    flex-direction: column;
}

section#CV .card{
    display: flex;
    width: var(--section-cv-card-width);
    justify-content: space-between;
    gap: var(--section-cv-card-gap);
    border-radius: 10px;
    padding: var(--section-cv-card-gap);
    box-shadow: var(--section-cv-card-box-shadow);
    border: var(--section-cv-card-border);
}

section#CV .card:nth-child(odd) {
    flex-direction: row-reverse;
}

section#CV .card a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

section#CV .card img {
    width: var(--section-cv-card-img-width);
    border-radius: var(--section-cv-card-img-border-radius);
}
section#CV .card img#freecodecamp {
    width: var(--section-cv-card-img-freecodecamp-width);
    height: auto;
}
:root[data-theme="dark"] section#CV .card img#freecodecamp {
    filter: invert(1);
}


/* Media queries */
@media (max-width: 992px) {
    section#CV .card {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    body {
        width: 90vw;
        margin-bottom: 100px;
    }

    .redes-sociales.left {
        gap: 30px;
        bottom: -100px;
        top: auto;
        left: auto;
        flex-direction: row;

        transform: translateY(-130px);
    }
}

@media (max-width: 576px) {
    header {
        gap: 50px;
        height: 100vh;
    }

    header div {
        flex-direction: column;
    }

    section#CV .card img {
        width: 100%;
    }

    section#CV .card img#freecodecamp {
        width: 100%;
    }
}